.button {
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.TextField {
  padding: 5px;
}

.forget-text {
  margin-top: 20x;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
