.cover {
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
}

.wrapper {
  width: 50%;
}

.title {
  display: flex;
  font-size: 25px;
  align-items: center;
  width: 95%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form {
  margin: 10px;
  display: flex;
  width: 50%;
  font-family: Arial;
  justify-content: space-around;
  flex-direction: column;
}

.login-button {
  padding: "8px";
  margin: "10px";
  background-color: "black";
  color: "white";
}

.signup-button {
  padding: "8px";
  margin: "10px";
  background-color: "black";
  color: "white";
}

@media only screen and (max-width: 500px) {
  .title {
    display: flex;
    font-size: 12px;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    display: flex;
    margin: 10px;
    font-size: 12px;
    align-content: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

@media only screen and (max-width: 500px) {
  .form {
    margin: 10px;
    font-family: Arial;
    justify-content: space-around;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    padding: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .header-image {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  .header-image {
    display: flex;
    max-width: 900px;
    max-height: 350px;
    flex-direction: column;
  }
}
