.home {
  padding: 3% 8%;
}
.cover {
}

.dashboard-title {
  padding: 50px;
  text-align: center;
  width: 95%;
  color: rgb(10, 10, 10);
  font-family: Arial, sans-serif;
}

.dashboard-section {
  display: grid;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
.partners-title {
  padding: 50px;
  text-align: center;
  width: 95%;
  color: rgb(10, 10, 10);
  font-family: Arial, sans-serif;
}

.partners-section {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: center;
  padding-bottom: 50px;
}

.navbar {
  padding-bottom: none;
}

@media only screen and (max-width: 500px) {
  .cover {
    flex-direction: column;
  }
}
