.navbar {
  padding-bottom: 30px;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  display: flex;
  font-size: 30px;
  color: rgb(10, 10, 10);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  padding: 10px;
}

.img-logo {
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  margin-right: 15px;
  align-items: center;
  flex-direction: row;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu {
  padding-left: 70px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

/* FOR SCREEN MAX WIDTH 375px*/
@media only screen and (max-width: 375px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .navbar-menu {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .menu {
    display: flex;
    font-size: 4px;
    color: black;
    text-decoration: none;
  }
}

/* FOR SCREEN MAX WIDTH 500px */
@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-menu {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .menu {
    display: flex;
    padding-left: 60px;
    font-size: 16px;
    color: black;
    text-decoration: none;
  }
}
