.text {
  padding: 10px;
}
.login-form-title {
  font-size: 34px;
  width: 600px;
}

.forgetten-text {
  max-width: 250px;
  min-width: 30%;
  padding-left: 7px;
  padding-bottom: 25px;
}
.have-acc-text {
  font-size: 12px;
  width: 400px;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
}

/* FOR SCREEN MAX WIDTH 375px*/
@media only screen and (max-width: 375px) {
  .login-form-title {
    padding-top: 20px;
    font-size: 28px;
    width: 600px;
  }
}

@media only screen and (max-width: 375px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .forgetten-text {
    font-size: 14px;
    max-width: 250px;
    min-width: 30%;
    padding-left: 14px;
    padding-bottom: 25px;
  }
}

/* FOR SCREEN MAX WIDTH 500px*/
@media only screen and (max-width: 500px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .forgetten-text {
    max-width: 250px;
    min-width: 30%;
    padding-left: 14px;
    padding-bottom: 25px;
  }
}
