.text {
  padding: 10px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.forgetten-text {
  margin: 10px;
  font-size: 12px;
}
.have-acc-text {
  margin-top: 20x;
  font-size: 12px;
  display: flex;
}
.button {
  display: flex;
  padding-right: "10px";
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 500) {
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
}
